[default]

[swarm_manager]
{% for item in swarm_managers.instances %}
{{ item.public_ip_address }}
{% endfor %}

[swarm_worker]
{% for item in swarm_workers.instances %}
{{ item.public_ip_address }}
{% endfor %}

[all:children]
swarm_manager
swarm_worker
